.form {
  flex: 1;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
  width: 100%;
  
}

.form input,
.form label {
  display: block;
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem 0;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}

span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused='true'] ~ span{
  display: block;
}